<%- include('../partials/header') %>

<h2>Create New Workout</h2>

<form action="/workouts" method="POST">
    <label>Body Part
        <select type="text" name="bodypart">
            <option value="Chest">Chest</option>
            <option value="Back">Back</option>
            <option value="Legs">Legs</option>
            <option value="Arms">Arms</option>
            <option value="Shoulders"></option>
        </select>
    </label><br>
    <label>Exercise
        <input type="text" name="exercise">
    </label>
    <label>Reps
        <input type="number" name="reps" min="5" max="20" placeholder="5-20" style="width:45px">
    </label><br>
    <button type="submit">Add Workout</button>
</form>

<%- include('../partials/footer') %> 