<%- include('../partials/header') %>

<h2>New Page</h2>

<form action="/workouts" method="POST">
    <label>Body Part
        <input type="text" name="bodypart">
    </label>
    <button type="submit">Add Workout</button>
</form>

<%- include('../partials/footer') %> 