<%- include('./partials/header') %>

<div class="container">
  <div class="content-wrapper">
    <h2 class="text-white mb-3">Welcome back User!</h2>
    <h3 class="text-white mb-5">How may I help you today?</h3>

    <a href="/workouts" class="btn btn-primary mt-4">Workout Plans</a><br>
    <a href="/workouts/new" class="btn btn-primary mt-4">Create a Workout Plan</a>
  </div>
</div>

<%- include('./partials/footer') %>
