<%- include('./partials/header') %>

<h2>Welcome back User!</h2>
<h3>How may I help you today?</h3>

<a href="/workouts">Workout Plans</a><br>
<a href="/workouts/new">Create a Workout Plan</a>

<%- include('./partials/footer') %> 